<ng-container *ngIf="breadcrumbs$ | async as breadcrumbs">
    <nav aria-label="breadcrumb" class="navbar navbar-expand-lg breadcrumb-container">
        <div class="container-fluid">
            <ol class="breadcrumb">
                <li *ngFor="let breadcrumb of breadcrumbs; let last = last" class="breadcrumb-item"
                    [class.active]="last" [attr.aria-current]="last ? 'page' : null">
                    <ng-container *ngIf="!last">
                        <a [routerLink]="breadcrumb.url">{{ breadcrumb.label }}</a>
                        <span class="separator" *ngIf="!last"> {{ separator }} </span>
                    </ng-container>
                    <ng-container *ngIf="last">
                        {{ breadcrumb.label }}
                    </ng-container>
                </li>
            </ol>
        </div>
    </nav>
</ng-container>